	  <!--==========================
      HERO SECTION Section
============================-->
	<header id="hero">
		<div class="container">
			<div class="intro-text">
				<h1 class="text-white">NODE - EXPRESS - HANDLEBARS </h1>
				<p>Tutorial creación de pagina Web . Proyecto Node Express Handlebars</p>
				<button class="main-btn">Get Started!</button>
			</div>
		</div>
	</header>
    <!--==========================
    WHO WE ARE Section
============================-->

	<section id="about" class="md-padding">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-4 offset-md-4">
					<div class="section-header">
						<h2 class="title">Seccion 1</h2>
					</div>
				</div>
			</div>
			<div class="row text-center">
				<div class="col-md-4">
					<div class="about">
						<i class="fas fa-cogs"></i>
						<h3>Lorem Ipsum</h3>
						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="about">
						<i class="fas fa-magic"></i>
						<h3>Lorem Ipsum</h3>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. . Ullam, quam perferetum expedita ex repudiandae.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="about">
						<i class="fas fa-mobile"></i>
						<h3>Lorem Ipsum</h3>
						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
    
    <section id="statement" class="md-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h4 class="text-black lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, recusandae dicta! Accusantium optio modi cumque iure inventore similique, dolor velit unde quasi magnam nemo alias ratione adipisci delectus repellat dolorum?</h4>
            </div>
        </div>
    </div>
      
</section>   

	<section id="features" class="md-padding">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-4 offset-md-4">
					<div class="section-header">
						<h2 class="title">Sección 2</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
					<div class="feature">
                        <div class="row">
                            <div class="col-md-2 text-right">
                                <i class="far fa-edit"></i>
                            </div>
                            <div class="col-md-10">
                                <h5>FEATURE 01</h5>
                                <h4>LOREM IPSUMAT</h4>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature">
                        <div class="row">
                            <div class="col-md-2 text-right">
                                <i class="far fa-edit"></i>
                            </div>
                            <div class="col-md-10">
                                <h5>FEATURE 01</h5>
                                <h4>LOREM IPSUMAT</h4>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature">
                        <div class="row">
                            <div class="col-md-2 text-right">
                                <i class="far fa-edit"></i>
                            </div>
                            <div class="col-md-10">
                                <h5>FEATURE 02</h5>
                                <h4>LOREM IPSUMAT</h4>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure beatae ratione illo error aut mollitia iusto corporis quae? Itaque hic rem unde autem officia reiciendis, adipisci distinctio quam architecto dolore.</p>
                            </div>
                        </div>	
					</div>
				</div>
				<div class="col-md-6">
					<div id="features-slide" class="owl-carousel owl-theme">
						<img src="img/mendoza1.jpg" class="img-fluid">
						<img src="img/potrerillos.jpg" class="img-fluid">
						<img src="img/mendoza1.jpg" class="img-fluid">
						<img src="img/potrerillos.jpg" class="img-fluid">
					</div>
				</div>
			</div>
		</div>
	</section>